* {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #333; 
}

header {
    background-color: rgb(44, 44, 77);
    color: #f0f0f0; 
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.log {
    color: #ffd700; 
    font-weight: bold;
    margin-left: 10px;
}

.bar {
    text-decoration: none;
    color: #87CEEB; 
    font-weight: bold;
    font-size: 25px;
    transition: color 0.3s ease;
}

.bar:hover {
    color: #f0e68c; 
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #87CEEB; 
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #f0e68c;
}

.hero {
    text-align: center;
    padding: 150px 0;
    color: #f0f0f0; 
    margin-top: 80px;
    background-color: rgb(70, 70, 110); 
}

h1 {
    margin-right: 2px;
    font-size: 3rem;
    color: #ffd700; 
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.search-bar input {
    flex: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 18px;
    color: teal; 
}

.search-bar button {
    padding: 12px 25px;
    background-color: plum;
    color:yellowgreen;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color:pink;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav li {
        margin: 10px 0;
    }

    .hero {
        padding: 100px 20px;
    }

    h1 {
        font-size: 2.5rem;
    }
}